.Home{
  width: 100%;
  height: 850px;
  margin: auto;
  /*background-image: url("./img/main-2.png");
  background-size: 100%;*/
}

.loginForm{
  width: 20%;
  min-width: 250px;
  max-width: 400px;
  background: linear-gradient(45deg, palevioletred, Moccasin);
  padding: 5%;
  margin: 100px auto;
}

.loginForm input[type=radio] {
  display: none;
}

.loginForm input{
  opacity: 0.7;
  background: ghostwhite;
  width: 80%;
  border: none;
  height: 35px;
  border-radius: 25px;
  margin: 10px auto;
  display: block;

}

.loginForm label{
  font-size: 25px;
  margin: 10px 10px 0 0;
}
.SignIn input:checked + label, .SignUp input:checked + label  { text-decoration: underline pink; color: white;}

.SignIn label, .SignUp label{
  font-size: 15px;
  margin: 10px 60px;
  display: block;
}

.Home button{
  background: cadetblue;
  width: 80%;
  border: none;
  height: 35px;
  border-radius: 25px;
  margin: 35px auto;
  display: block;
  font-size: 20px;
  color: white;
}


.personalInfo{
  margin: 30px;
}

.personalInfo label+ div{
  display: inline-block;
}

.personalInfo label{
  font-size: 18px;
  font-weight: bold;
}


.personalInfo input, select{
  margin: 12px 0;
}


.NavBar{
  background: linear-gradient(45deg, palevioletred, Moccasin);
  padding: 20px;
}

.name{
position: absolute;
  right: 5%;
  top: 40px;
}


.NavBar .links a{
  margin: 5px;
  color: black;
}

.Challenge {
  margin: 0 100px;
}

.Challenge label{


}


.day{
  display: inline-block;
  padding: 10px;
}


